@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qjq51i');
  src:  url('fonts/icomoon.eot?qjq51i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qjq51i') format('truetype'),
    url('fonts/icomoon.woff?qjq51i') format('woff'),
    url('fonts/icomoon.svg?qjq51i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-volver:before {
  content: "\e911";
  color: #545246;
}
.icon-google-plus:before {
  content: "\e910";
}
.icon-corazon:before {
  content: "\e900";
}
.icon-buceo:before {
  content: "\e901";
}
.icon-ckeck:before {
  content: "\e902";
}
.icon-restaurante:before {
  content: "\e903";
}
.icon-cama:before {
  content: "\e904";
}
.icon-spa:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-check-black:before {
  content: "\e907";
}
.icon-check-white:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e909";
}
.icon-video:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e90b";
}
.icon-depa:before {
  content: "\e90c";
}
.icon-dormitorio:before {
  content: "\e90d";
}
.icon-more:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-youtube:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
