.muenu_circle
	position: fixed
	left: 20px
	bottom: 90px
	z-index: 50
	.center_ico
		border-radius: 50%
		width: 45px
		height: 45px
		line-height: 45px
		text-align: center
		font-size: 20px
		background: $c-1
		display: block
		color: $c-0
		position: relative
		z-index: 20
		cursor: pointer
	a
		left: 0
		top: 0
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		border-radius: 50%
		background: $c-1
		color: $c-0
		font-size: 20px
		position: absolute
		display: inline-block
		transition: all .3s cubic-bezier(.73,.24,.39,1.55)
	.showMenu
		a:nth-child(1)
			top: -50px
			left: 0px
			background-color: #3b5898
			color: $blanco
		a:nth-child(2)
			left: 50px
			top: -30px
			background-color: #ed484b
			color: $blanco
		a:nth-child(3)
			top: 20px
			left: 55px
			background-color: #76a9ea
			color: $blanco
footer
	background: $c-1
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	z-index: 50
	.f_main
		display: flex
		flex-wrap: wrap
		flex-flow: wrap
		justify-content: flex-start
		max-width: 1117px
		width: 93%
		margin: auto
		height: 62px
		align-items: center
	.fot_logo
		display: inline-block
		width: 73px
		margin: 0
		img
			width: 100%
			height: auto
			display: block
	.fot_list
		display: flex
		flex-wrap: wrap 
		justify-content: flex-start
		li
			margin-left: 50px
			&:first-child
				margin-left: 0
		a
			color: $c-0
			font-size: 13px
			line-height: 62px
			position: relative
			display: block
			font-family: $t-1
			&:before
				content: ""
				width: 0%
				height: 2px
				display: block
				position: absolute
				bottom: 0
				left: 0
				background:  $c-0
				transition: .3s linear
			&:hover
				&:before
					width: 100%
					opacity: 1
			&.active:before
				width: 100%
				opacity: 1
	.fot_btn
		a
			display: block
			height: 100%
			font-family: $t-3
			line-height: 62px
			padding: 0px 22px
			color: $blanco
			font-size: 14px
			background: $c-0

@media screen and (max-width: 1024px)
	footer
		display: none

	.muenu_circle
		bottom: 25px