.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative

.header-fixed
	position: absolute
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent
	transition: all .2s linear

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: transparent
	top: 0
// .header-fixed.scrolling
// 	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
// 	height: 70px
// 	.header-bg
// 		top: 0
// 	.header-link
// 		color: $c-2
// 	.header-logo-desktop
// 		opacity: 0
// 		visibility: hidden
// 	.header-logo-scroll
// 		width: 80%
// 		opacity: 1
// 		visibility: visible

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1220px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 180px
	position: absolute
	top: 17px
	left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden


.btn--header
	position: relative
	padding: 16px 18px 16px 42px
	&:before
		content: '\e906'
		position: absolute
		left: 18px
		top: 14px
		font-family: $icomoon
		color: $c-0
		font-size: 17px

.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 50px
		&:lastt-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: $blanco
		font-size: 14px
		line-height: 14px
		font-family: $t-3
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 14px
		transition: all .35s ease-in-out
		text-transform: uppercase
		// &:before
		// 	content: ""
		// 	display: block
		// 	position: absolute
		// 	bottom: 0
		// 	left: 0
		// 	width: 0
		// 	height: 2px
		// 	background: $c-0
		// 	transition: all .35s ease-in-out

	//hover
	// .header-link:hover
	// 	color: $c-0
	// 	text-decoration: inherit !important
	// 	&:before
	// 		width: 70%

	//active
	.header-link.active
		color: $blanco
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: $blanco
		text-decoration: inherit



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0

.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: $blanco
		font-family: $t-0
		font-size: 13px
		appearance: none
		box-sizing: border-box
		cursor: pointer
	option 
		color: $c-0 
	&:before 
		display: block
		content: "\e608"
		font-family: icomoon
		position: absolute
		top: 0px
		right: 0
		color: $blanco
		font-size: 17px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-3
		text-decoration: inherit
		text-transform: uppercase
		font-family: $t-1

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1040

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

.responsive-logo
	display: none

.header-btn
		margin-top: 7px

@media screen and (max-width: 1025px)
	//media query header
	.header-cnt-list
		display: none

	.header-fixed
		position: fixed
		height: 60px

	.header-fixed.scrolling
		background: $c-0

	// .header-fixed.scrolling .header-logo-scroll
	// 	width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 120px

	.header-logo
		max-width: 160px
	
	// .header-logo .header-logo-desktop
	// 	opacity: 0
	// 	visibility: visible

	// .header-logo .header-logo-scroll
	// 	opacity: 1
	// 	visibility: visible
	
	.header-bg
		top: 0

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px

	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

	.list-responsive
		margin-top: 40px
		li 
			display: block
			a
				display: block
				padding-left: 30px
				font-size: 14px
				height: 45px
				line-height: 45px
				color: $c-0
				font-family: $t-1

	.btn-responsive
		margin-top: 40px
		a
			display: block
			height: 100%
			font-family: $t-3
			line-height: 62px
			padding: 0px 30px
			color: $blanco
			font-size: 14px
			background: $c-0
			text-align: center

	.header-btn
		padding-left: 30px
		.btn--header
			display: block
			padding: 0
			padding-left: 30px
			font-size: 14px
			height: 45px
			line-height: 45px 
			background: $blanco
			&:before
				left: 0px
				top: 0px

@media screen and (max-width: 768px)
	.menu-mobile-close, 
	.menu-mobile-open
		width: 38px
		height: 38px
		line-height: 38px
		top: 10px
		font-size: 25px

	.header-logo
		top: 10px
	
@media screen and (max-width: 640px)
	.header-logo
		max-width: 130px

	.menu-mobile-close, 
	.menu-mobile-open
		width: 35px
		height: 35px
		line-height: 35px
		top: 10px

@media screen and (max-width: 390px)
	.header-logo
		max-width: 110px
	.header-fixed.scrolling .header-logo
		max-width: 110px
