.muenu_circle
	span.center_ico.icon-share#openMenu
	.menu_link
		a(href="", class="icon-social-facebook")
		a(href="", class="icon-google-plus")
		a(href="", class="icon-social-twitter")
footer
	.f_main
		a(class="fot_logo", href="")
			img(src=`${STATIC_URL}img/logo-vichayito.svg`, width="73", height="38", alt="")
		ul.fot_list
			li
				a.menu_a1.miclase.h-link-ancla(href="#proyecto") EL PROYECTO
			li
				a.menu_a2.miclase.h-link-ancla(href="#galeria") GALERÍA
			li
				a.menu_a3.miclase.h-link-ancla(href="#planos") PLANOS
			li
				a.menu_a4.miclase.h-link-ancla(href="#ubicacion") UBICACIÓN
			li
				a.menu_a5.miclase.h-link-ancla(href="#video") VIDEO
		.fot_btn
			a(href="http://www.marcan.com.pe/solicitar-info-vichayito" target="_blank") MÁS INFORMACIÓN
