.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home.html").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/logo.svg`, alt="")
				img.header-logo-scroll(src=`${STATIC_URL}img/logo.svg`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link(href="http://www.marcan.com.pe/proyectos_en_venta.php" target="_blank") Proyectos
					li.header-btn
						a.btn-general.btn-yellow.btn--header(href='tel:998137302') 998 137 302

//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt