extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#proyecto.areas
		.areas__container
			.areas__box
				.areas__box__container
					.areas__box__content
						.areas__box__item.title__general--center
							.areas__box__item__title
								p Desde:
							.areas__box__item__text
								p US$ 89,000
						.areas__box__item
							.areas__box__item__title
								p Depas de:
							.areas__box__item__text
								span.icon-depa
								p 84.00 
									span m²
						.areas__box__item
							.areas__box__item__title
								p Dpas de:
							.areas__box__item__text
								span.icon-dormitorio
								p 2 y 3 
									span dorms
						.areas__box__btn
							.areas__box__btn__content
								a.btn-general.btn-yellow( href='#planos') ¡Lo quiero!
			.areas__content
				.areas__title__box
					.areas__title
						.title__general.title__general--right
							.title__general__text.title__general__text--one
								h3 Tu casa en la mejor <strong>playa </strong>de <strong>norte </strong>peruano
					.areas__btn
						a.btn-general.btn-yellow(href='#') PRECIOS DEL PROYECTO
						a.btn-general.btn-gray(href="../assets/img/web_marcan.pdf" download="Marcan") DESCARGAR BROCHURE
				.areas__info
					.areas__info__text
						p Condominio de carácter vacacional, constituido por solo 20 casas y 18 departamentos de playa. El proyecto contempla 1,500 m² de áreas libres y todos los servicios para que tu casa sea una inversión segura y duradera. 
					.areas__info__items
						.areas__info__title
							h4 Áreas Comunes:
						.areas__info__img__content
							-for (var i = 1; i <= 6; i++)
								.areas__info__img
									.areas__info__img__box
										img(src=`${STATIC_URL}img/area-img-1.png`, alt="")
									.areas__info__img__text
										p Terraza abierta y techada

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})