extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner
		.banner__container
			.banner__background(style=`background-image: url('${STATIC_URL}img/banner.jpg')`)
				.banner__content
					.banner__image
						img(src=`${STATIC_URL}img/img-vichayito.png`, alt="")

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})