extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'enviado'
//- ---

//- Contenido
block content
	.enviado__container
		.enviado__content
			.enviado__image
				.enviado__image__box
					img(src=`${STATIC_URL}img/image-enviado.png`, alt="")
			.enviado__text
				.enviado__title
					.title__general.title__general--center
						.title__general__text.title__general__text--four
							h3 Gracias por enviar <strong>tu solicitud</strong>en breve responderemos
				.enviado__btn
					a.btn-general.btn-brown( href='') REGRESAR AL INICIO

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})