extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#video.video
		.video__container
			.video__background(style=`background-image: url('${STATIC_URL}img/fondo-video.jpg')`)
				.video__content
					.video__title
						.title__general.title__general--center
							.title__general__text.title__general__text--two
								h3 Vive la experiencia de <strong>vacacionar </strong>en tu <strong>casa de playa</strong>
					.video__btn.fancy--video
						a(href="https://www.youtube.com/watch?v=L9szn1QQfas")
							span.icon-video.video__icon
							span.video__text Ver avance de obra

	section.info
		.info__container
			.info__background(style=`background-image: url('${STATIC_URL}img/fondo-info.jpg')`)
				.info__content
					.info__title
						p Un proyecto respaldado por:
					.info__logo
						img(src=`${STATIC_URL}img/logo-info.svg`, alt="")
					.info__phone
						a(href="tel:998137302") 998 137 302 / 
						a(href="tel:7199959") (01) 719 9959
					.info__email
						a(href="mailto:ventas@marcan.com.pe") <strong>email:</strong> ventas@marcan.com.pe
					.info__btn
						a.btn-general.btn-brown( href='http://www.marcan.com.pe/solicitar-info-vichayito' target="_blank") Solicitar información
					.info__creditos
						p Diseño web 
							span.icon-corazon
							a(href='https://www.staffdigital.pe/', target='_blank')  por StaffDigital



//- js
append scripts 
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-autoplay.js`)
	script.
		$(()=>{
			//fancy video
			$('.fancy--video').lightGallery({
				selector: 'a'
			});
		})