extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#galeria.galeria
		.galeria__container
			.galeria__box
				.galeria__box__container
					.galeria__title
						.galeria__title__box
							h3 Galería de fotos
					.galeria__box__btn
						span(data-id="tab_1", class="tab--display btn-general btn-white") Interior
						span(data-id="tab_2", class="tab--display btn-general btn-white") Áreas Comunes
						span(data-id="tab_3", class="tab--display btn-general btn-white") Entorno
			.galeria__content
				#tab_1.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var i = 1; i <= 5; i++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-1.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-1.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more
							
				#tab_2.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var x = 1; x <= 5; x++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-2.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-2.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more
				#tab_3.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var a = 1; a <= 5; a++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-3.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-3.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more


//- js
append scripts 
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	//- script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- fancy img		
			$('.galeria__fancy').lightGallery({
				selector: 'a'
			});

			var width = $(window).innerWidth();
			if (width < 700) {
				$('.galeria__items__box').each(function(i,el){
					i=i+1;
					$(this).slick({
						arrows: false,
						dots: false,
						infinite: true,
						autoplay: true,
						slidesToShow: 2,
						slidesScroll: 1,
						responsive: [
							{
								breakpoint: 500,
								settings: {
									slidesToShow: 1,
									slidesScroll: 1,
									infinite: true,
									dots: false
								}
							},
						]
					});
				});
			}
			else{	
			};

			//- Tab
			$('.tab--display:first-child').addClass("active");
			$('.galeria__items__box:first-child').addClass("active");
			$('.tab--display').click(function(e) {
				e.preventDefault();
				$('.tab--display').removeClass('active');
				$(this).addClass('active');
				var data = $(this).attr('data-id');
				$('.galeria__items__box').removeClass('active');
				$('.galeria__items__box[id="'+data+'"]').addClass('active');
			});
		})