extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validation/validationEngine.jquery.css`)
//- body classs
block vars
	- var bodyClass = 'class'
block content
	section.banner
		.banner__container
			.banner__background(style=`background-image: url('${STATIC_URL}img/banner.jpg')`)
				.banner__content
					.banner__image
						img(src=`${STATIC_URL}img/img-vichayito.png`, alt="")

	section#proyecto.areas
		.areas__container
			.areas__box
				.areas__box__container
					.areas__box__content
						.areas__box__item.title__general--center
							.areas__box__item__title
								p Desde:
							.areas__box__item__text
								p US$ 89,000
						.areas__box__item
							.areas__box__item__title
								p Depas de:
							.areas__box__item__text
								span.icon-depa
								p 84.00 
									span m²
						.areas__box__item
							.areas__box__item__title
								p Dpas de:
							.areas__box__item__text
								span.icon-dormitorio
								p 2 y 3 
									span dorms
						.areas__box__btn
							.areas__box__btn__content
								a.btn-general.btn-yellow.button__down( href='#planos') ¡Lo quiero!
			.areas__content
				.areas__title__box
					.areas__title
						.title__general.title__general--right
							.title__general__text.title__general__text--one
								h3 Tu casa en la mejor <strong>playa </strong>del <strong>norte </strong>peruano
					.areas__btn
						a.btn-general.btn-yellow(href='precios-proyecto.html') PRECIOS DEL PROYECTO
						a.btn-general.btn-gray(href="../assets/img/web_marcan.pdf" download="Marcan") DESCARGAR BROCHURE
				.areas__info
					.areas__info__text
						p Condominio de carácter vacacional, constituido por solo 20 casas y 18 departamentos de playa. El proyecto contempla 1,500 m² de áreas libres y todos los servicios para que tu casa sea una inversión segura y duradera. 
					.areas__info__items
						.areas__info__title
							h4 Áreas Comunes:
						.areas__info__img__content
							-for (var i = 1; i <= 6; i++)
								.areas__info__img
									.areas__info__img__box
										img(src=`${STATIC_URL}img/area-img-1.png`, alt="")
									.areas__info__img__text
										p Terraza abierta y techada

	section#galeria.galeria
		.galeria__container
			.galeria__box
				.galeria__box__container
					.galeria__title
						.galeria__title__box
							h3 Galería de fotos
					.galeria__box__btn
						span(data-id="tab_1", class="tab--display btn-general btn-white") Interior
						span(data-id="tab_2", class="tab--display btn-general btn-white") Áreas Comunes
						span(data-id="tab_3", class="tab--display btn-general btn-white") Entorno
			.galeria__content
				#tab_1.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var i = 1; i <= 5; i++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-1.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-1.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more
							
				#tab_2.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var x = 1; x <= 5; x++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-2.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-2.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more
				#tab_3.galeria__items__box.galeria__items__box--slider.galeria__fancy
					-for (var a = 1; a <= 5; a++)
						.galeria__item
							a.galeria__img(href=`${STATIC_URL}img/galeria-img-3.jpg` style=`background-image: url('${STATIC_URL}img/galeria-img-3.jpg')`)
								.galeria__hover
									.galeria_icon_hover
										.icon__hover.icon-more

	section#planos.planos
		.planos__container
			.planos__content
				.planos__title
					.title__general.title__general--right
						.title__general__text.title__general__text--four
							h3 Cotiza el depa de <strong>tus sueños</strong>
				.planos__slider__box
					.planos__slider__content
						.planos__slider
							.planos__slider__items
								-for (var i = 1; i <= 3; i++)
									.planos__slider__image
										figure
											img(src=`${STATIC_URL}img/plano.png`, alt="")
						.planos__info
							.planos__info__box(data-depa="0")
								h4 A-09
								ul
									li Area Techada:
									li 134.19 m²
								ul
									li Area Techada:
									li 134.19 m²
							.planos__info__box(data-depa="1")
								h4 A-08
								ul
									li Area Techada:
									li 124.19 m²
								ul
									li Area Techada:
									li 124.19 m²
							.planos__info__box(data-depa="2")
								h4 A-07
								ul
									li Area Techada:
									li 134.18 m²
								ul
									li Area Techada:
									li 134.18 m²

			.planos__formulario
				form.planos__form(id="form__validation")
					ul
						li
							.planos__form__input
								.planos__text__input 
									p Elegir departamento:
										span *
								.planos__form__input--select
									select(name="select", class="validate[required] planos__select")
										option(value="0") Piso 1 - E-102
										option(value="1") Select1
										option(value="2") Select2
						li
							.planos__form__input
								.planos__text__input 
									p Nombres y Apellidos:
										span *
								input.planos__input.planos--input(type="text", name="nombre_apellido", class='validate[required]')
						li
							.planos__form__input
								.planos__text__input 
									p Email:
										span *
								input.planos__input.planos--input(type="email", name="email", class='validate[required,custom[email]]')
						li
							.planos__form__input
								.planos__text__input 
									p Teléfono:
										span *
								input.planos__input.planos--input(type="tel", name="tel", class='validate[required] soloNumber')
				.planos__form__campos__text
					p (*) Todos los campos son obligatorios
				.planos__check
					.planos__input--check--radio.planos__input--checkbox
						.planos__input__inside
							input(type="checkbox", id="check1")
							label(for="check1", class="planos__input--check--radio--label")
								.planos__input__inside__container
									.planos__input__figure
									.planos__input__text__check Al completar este formulario, acepto estar informado de la forma, pautas y propósito del tratamiento de mis datos personales que se encuentran descritos en las 
										span(class="btn-modal") Políticas de Privacidad
					.planos__btn
						button.btn-general.btn-yellow(type="submit") Cotizar Plano

		.modal
			span.modal__fondo
			.modal__container
				.modal__content
					.modal__close
						span.icon-close
					.modal__box
						.modal__title
							h3 Políticas de Privacidad
						.modal__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus dui vitae porttitor consequat. Sed eget sodales lorem. In ac nunc purus. Vestibulum sit amet aliquet elit, et aliquam erat. In quis arcu sit amet tellus fermentum varius. Sed molestie quam ut ex sagittis efficitur. Sed in nibh in dolor iaculis lacinia. Praesent vitae orci sit amet odio dictum porta.
						.modal__text--info
							h4 1. Vivamus vitae scelerisque eros, eget porta mi. 
							p Vestibulum sollicitudin lacus ut lorem accumsan, sit amet accumsan mi scelerisque. Mauris egestas eros id lorem ornare, nec egestas urna gravida. Aenean at arcu ac felis scelerisque vehicula et non sem. Etiam iaculis tristique congue. Donec nisl sem, porttitor sit amet lorem nec, vulputate convallis sem. Nullam pretium leo auctor, dapibus ipsum quis, dictum mauris. Duis efficitur vulputate lacus quis efficitur. Aenean efficitur dictum dignissim. Pellentesque eget condimentum lorem. Suspendisse sed augue in velit scelerisque lobortis eget sed erat:
							ul
								li Phasellus eleifend nulla at neque aliquet mollis.
								li Praesent nibh purus, convallis vehicula gravida finibus, luctus at nisi. Sed consequat tellus nibh, sit amet gravida elit consectetur sit amet. Sed rhoncus lorem velit, non molestie mauris rhoncus non. Suspendisse pulvinar eleifend nulla, ac volutpat mi mattis vel.
							p Suspendisse potenti. Proin malesuada pellentesque sapien at lobortis. Aenean pharetra felis lectus, tincidunt lacinia justo tincidunt non. Curabitur in est tellus. Vivamus aliquet odio nisl, at ullamcorper magna ullamcorper eu. Aenean vel augue condimentum sem vulputate blandit sit amet eget urna. Maecenas ligula quam, suscipit nec ligula sit amet, ullamcorper fermentum purus. Aenean eu dictum lacus. Etiam id eleifend lectus. In hac habitasse platea dictumst. Phasellus nibh ex, mattis vel auctor eu, mattis sed turpis. In vitae molestie neque, ac placerat felis. Mauris malesuada imperdiet malesuada. In quis semper neque, et tincidunt nibh.

	#ubicacion.wrap_location
		section.location
			span.loca_right_img
				img(src=`${STATIC_URL}img/ubicacion-img1.png`, width="504", height="325", alt="")
			span.loca_left_img
				img(src=`${STATIC_URL}img/ubicacion-img2.png`, width="504", height="325", alt="")
			.loca_main
				.loca_itm
					.title__general.title__general--left
						.title__general__text.title__general__text--three
							h3 Ubicación perfecta <strong>cerca de todo</strong>
					.loca_ubication
						a(href="#", class="loca_img", data-tipo="R")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Restaurantes
						a(href="#", class="loca_img", data-tipo="H")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Hoteles
						a(href="#", class="loca_img", data-tipo="S")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Spa
						a(href="#", class="loca_img", data-tipo="E")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Escuela de Buceo
				.loca_map
					a.btn-general.btn-yellow.close_map( href='#') Cerrar mapa
					.map_class#map

	section#video.video
		.video__container
			.video__background(style=`background-image: url('${STATIC_URL}img/fondo-video.jpg')`)
				.video__content
					.video__title
						.title__general.title__general--center
							.title__general__text.title__general__text--two
								h3 Vive la experiencia de <strong>vacacionar </strong>en tu <strong>casa de playa</strong>
					.video__btn.fancy--video
						a(href="https://www.youtube.com/watch?v=L9szn1QQfas")
							span.icon-video.video__icon
							span.video__text Ver avance de obra

	section.info
		.info__container
			.info__background(style=`background-image: url('${STATIC_URL}img/fondo-info.jpg')`)
				.info__content
					.info__title
						p Un proyecto respaldado por:
					.info__logo
						img(src=`${STATIC_URL}img/logo-info.svg`, alt="")
					.info__phone
						a(href="tel:998137302") 998 137 302 / 
						a(href="tel:7199959") (01) 719 9959
					.info__email
						a(href="mailto:ventas@marcan.com.pe") <strong>email:</strong> ventas@marcan.com.pe
					.info__btn
						a.btn-general.btn-brown( href='http://www.marcan.com.pe/solicitar-info-vichayito' target="_blank") Solicitar información
					.info__creditos
						p Diseño web 
							span.icon-corazon
							a(href='https://www.staffdigital.pe/', target='_blank')  por StaffDigital

//- js
append scripts 
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/googlemaps.js`)
	script.
		$(()=>{
			//- PROYECTO
			$('.button__down').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });

			//- GALERIA	
			$('.galeria__fancy').lightGallery({
				selector: 'a'
			});

			var width = $(window).innerWidth();
			if (width < 700) {
				$('.galeria__items__box').each(function(i,el){
					i=i+1;
					$(this).slick({
						arrows: false,
						dots: false,
						infinite: true,
						autoplay: true,
						slidesToShow: 2,
						slidesScroll: 1,
						responsive: [
							{
								breakpoint: 500,
								settings: {
									slidesToShow: 1,
									slidesScroll: 1,
									infinite: true,
									dots: false
								}
							},
						]
					});
				});
			}
			else{	
			};

			//- Tab
			$('.tab--display:first-child').addClass("active");
			$('.galeria__items__box:first-child').addClass("active");
			$('.tab--display').click(function(e) {
				e.preventDefault();
				$('.tab--display').removeClass('active');
				$(this).addClass('active');
				var data = $(this).attr('data-id');
				$('.galeria__items__box').removeClass('active');
				$('.galeria__items__box[id="'+data+'"]').addClass('active');
			});


			//- PLANOS
			$('.planos__info .planos__info__box').css({
				'display': 'none'
			});
			$('.planos__info .planos__info__box').eq(0).css({
				'display': 'block'
			});
			$('.planos__info .planos__info__box').eq(1).css({
				'display': 'none'
			});
			$('.planos__form__input--select select').change(function(e){
				$('.planos__slider__items').slick('slickGoTo', this.value);
				$('.planos__info .planos__info__box').css({
					'display': 'none'
				});
				$('.planos__info .planos__info__box').each((e,k)=>{
					if(parseInt($(k).data('depa')) == this.value){
						$(k).css({
					'display': 'block'

						});

					};
				});
			});
			$('.planos__slider__items').slick({
				dots: false,
				infinite: false,
				speed: 500,
				fade: true,
				arrows: false,
				cssEase: 'linear'
			});

			// modal
			$('.btn-modal').click(function(event) {
				$('.modal__fondo').addClass('active');
				$('.modal__container').addClass('active');
				$('body').addClass('overflow-hidden');
			});
			function salida(){
				$('.modal__fondo').removeClass('active');
				$('.modal__container').removeClass('active');
				$('body').removeClass('overflow-hidden');
			};
			$('.modal__fondo, .modal__close').click(function(event) {
				salida();
			});


			//- VIDEO
			$('.fancy--video').lightGallery({
				selector: 'a'
			});


			//-  home - validation
			$('.soloNumber').each((k, el)=>{
				$(el).on('keydown', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
			})
			$("#form__validation").validationEngine();
			//- --- end ---

			// animate scroll
			$('.planos__select').on('change', function(e){
				t = $('.planos__formulario');
				element = t.closest('.planos');
				$('html, body').animate({
					scrollTop: element.offset().top
				}, 400);
			});
		})