extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#planos.planos
		.planos__container
			.planos__content
				.planos__title
					.title__general.title__general--right
						.title__general__text.title__general__text--four
							h3 Cotiza el depa de <strong>tus sueños</strong>
				.planos__slider__box
					.planos__slider__content
						.planos__slider
							.planos__slider__items
								-for (var i = 1; i <= 3; i++)
									.planos__slider__image
										figure
											img(src=`${STATIC_URL}img/plano.png`, alt="")
						.planos__info
							.planos__info__box(data-depa="0")
								h4 A-09
								ul
									li Area Techada:
									li 134.19 m²
								ul
									li Area Techada:
									li 134.19 m²
							.planos__info__box(data-depa="1")
								h4 A-08
								ul
									li Area Techada:
									li 124.19 m²
								ul
									li Area Techada:
									li 124.19 m²
							.planos__info__box(data-depa="2")
								h4 A-07
								ul
									li Area Techada:
									li 134.18 m²
								ul
									li Area Techada:
									li 134.18 m²

			.planos__formulario
				form.planos__form
					ul
						li
							.planos__form__input
								.planos__text__input 
									p Elegir departamento:
										span *
								.planos__form__input--select
									select(name="", class="validate[required] planos__select")
												option(value="0") Piso 1 - E-102
												option(value="1") Select1
												option(value="2") Select2
						li
							.planos__form__input
								.planos__text__input 
									p Nombres y Apellidos:
										span *
								input.planos__input.planos--input(type="text", name="nombre_apellido", class="validate[required]")
						li
							.planos__form__input
								.planos__text__input 
									p Email:
										span *
								input.planos__input.planos--input(type="text", name="nombre_apellido", class="validate[required]")
						li
							.planos__form__input
								.planos__text__input 
									p Teléfono:
										span *
								input.planos__input.planos--input(type="text", name="nombre_apellido", class="validate[required]")
				.planos__form__campos__text
					p (*) Todos los campos son obligatorios
				.planos__check
					.planos__input--check--radio.planos__input--checkbox
						.planos__input__inside
							input(type="checkbox", id="check1")
							label(for="check1", class="planos__input--check--radio--label")
								.planos__input__inside__container
									.planos__input__figure
									.planos__input__text__check Al completar este formulario, acepto estar informado de la forma, pautas y propósito del tratamiento de mis datos personales que se encuentran descritos en las 
										span(class="btn-modal") Políticas de Privacidad
					.planos__btn
						button.btn-general.btn-yellow(type="submit") Cotizar Plano

		.modal
			span.modal__fondo
			.modal__container
				.modal__content
					.modal__close
						span.icon-close
					.modal__box
						.modal__title
							h3 Políticas de Privacidad
						.modal__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus dui vitae porttitor consequat. Sed eget sodales lorem. In ac nunc purus. Vestibulum sit amet aliquet elit, et aliquam erat. In quis arcu sit amet tellus fermentum varius. Sed molestie quam ut ex sagittis efficitur. Sed in nibh in dolor iaculis lacinia. Praesent vitae orci sit amet odio dictum porta.
						.modal__text--info
							h4 1. Vivamus vitae scelerisque eros, eget porta mi. 
							p Vestibulum sollicitudin lacus ut lorem accumsan, sit amet accumsan mi scelerisque. Mauris egestas eros id lorem ornare, nec egestas urna gravida. Aenean at arcu ac felis scelerisque vehicula et non sem. Etiam iaculis tristique congue. Donec nisl sem, porttitor sit amet lorem nec, vulputate convallis sem. Nullam pretium leo auctor, dapibus ipsum quis, dictum mauris. Duis efficitur vulputate lacus quis efficitur. Aenean efficitur dictum dignissim. Pellentesque eget condimentum lorem. Suspendisse sed augue in velit scelerisque lobortis eget sed erat:
							ul
								li Phasellus eleifend nulla at neque aliquet mollis.
								li Praesent nibh purus, convallis vehicula gravida finibus, luctus at nisi. Sed consequat tellus nibh, sit amet gravida elit consectetur sit amet. Sed rhoncus lorem velit, non molestie mauris rhoncus non. Suspendisse pulvinar eleifend nulla, ac volutpat mi mattis vel.
							p Suspendisse potenti. Proin malesuada pellentesque sapien at lobortis. Aenean pharetra felis lectus, tincidunt lacinia justo tincidunt non. Curabitur in est tellus. Vivamus aliquet odio nisl, at ullamcorper magna ullamcorper eu. Aenean vel augue condimentum sem vulputate blandit sit amet eget urna. Maecenas ligula quam, suscipit nec ligula sit amet, ullamcorper fermentum purus. Aenean eu dictum lacus. Etiam id eleifend lectus. In hac habitasse platea dictumst. Phasellus nibh ex, mattis vel auctor eu, mattis sed turpis. In vitae molestie neque, ac placerat felis. Mauris malesuada imperdiet malesuada. In quis semper neque, et tincidunt nibh.


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{

			$('.planos__info .planos__info__box').css({
				'display': 'none'
			});
			$('.planos__info .planos__info__box').eq(0).css({
				'display': 'block'
			});
			$('.planos__info .planos__info__box').eq(1).css({
				'display': 'none'
			});
			$('.planos__form__input--select select').change(function(e){
				$('.planos__slider__items').slick('slickGoTo', this.value);
				$('.planos__info .planos__info__box').css({
					'display': 'none'
				});
				$('.planos__info .planos__info__box').each((e,k)=>{
					if(parseInt($(k).data('depa')) == this.value){
						$(k).css({
					'display': 'block'

						});

					};
				});
			});
			$('.planos__slider__items').slick({
				dots: false,
				infinite: false,
				speed: 500,
				fade: true,
				arrows: false,
				cssEase: 'linear'
			});

			// modal
			$('.btn-modal').click(function(event) {
				$('.modal__fondo').addClass('active');
				$('.modal__container').addClass('active');
				$('body, html').addClass('overflow-hidden');
			});
			function salida(){
				$('.modal__fondo').removeClass('active');
				$('.modal__container').removeClass('active');
				$('body, html').removeClass('overflow-hidden');
			};
			$('.modal__fondo, .modal__close').click(function(event) {
				salida();
			});
		})