extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)


//- Contenido
block content
	section.pop
		//- copiar desde aquí 
		button.btn-modal Modal
		.modal
			span.modal__fondo
			.modal__container
				.modal__content
					.modal__close
						span.icon-close
					.modal__box
						.modal__title
							h3 Políticas de Privacidad
						.modal__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus dui vitae porttitor consequat. Sed eget sodales lorem. In ac nunc purus. Vestibulum sit amet aliquet elit, et aliquam erat. In quis arcu sit amet tellus fermentum varius. Sed molestie quam ut ex sagittis efficitur. Sed in nibh in dolor iaculis lacinia. Praesent vitae orci sit amet odio dictum porta.
						.modal__text--info
							h4 1. Vivamus vitae scelerisque eros, eget porta mi. 
							p Vestibulum sollicitudin lacus ut lorem accumsan, sit amet accumsan mi scelerisque. Mauris egestas eros id lorem ornare, nec egestas urna gravida. Aenean at arcu ac felis scelerisque vehicula et non sem. Etiam iaculis tristique congue. Donec nisl sem, porttitor sit amet lorem nec, vulputate convallis sem. Nullam pretium leo auctor, dapibus ipsum quis, dictum mauris. Duis efficitur vulputate lacus quis efficitur. Aenean efficitur dictum dignissim. Pellentesque eget condimentum lorem. Suspendisse sed augue in velit scelerisque lobortis eget sed erat:
							ul
								li Phasellus eleifend nulla at neque aliquet mollis.
								li Praesent nibh purus, convallis vehicula gravida finibus, luctus at nisi. Sed consequat tellus nibh, sit amet gravida elit consectetur sit amet. Sed rhoncus lorem velit, non molestie mauris rhoncus non. Suspendisse pulvinar eleifend nulla, ac volutpat mi mattis vel.
							p Suspendisse potenti. Proin malesuada pellentesque sapien at lobortis. Aenean pharetra felis lectus, tincidunt lacinia justo tincidunt non. Curabitur in est tellus. Vivamus aliquet odio nisl, at ullamcorper magna ullamcorper eu. Aenean vel augue condimentum sem vulputate blandit sit amet eget urna. Maecenas ligula quam, suscipit nec ligula sit amet, ullamcorper fermentum purus. Aenean eu dictum lacus. Etiam id eleifend lectus. In hac habitasse platea dictumst. Phasellus nibh ex, mattis vel auctor eu, mattis sed turpis. In vitae molestie neque, ac placerat felis. Mauris malesuada imperdiet malesuada. In quis semper neque, et tincidunt nibh.





//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			// modal
			$('.btn-modal').click(function(event) {
				$('.modal__fondo').addClass('active');
				$('.modal__container').addClass('active');
				$('body, html').addClass('overflow-hidden');
			});
			function salida(){
				$('.modal__fondo').removeClass('active');
				$('.modal__container').removeClass('active');
				$('body, html').removeClass('overflow-hidden');
			};
			$('.modal__fondo, .modal__close').click(function(event) {
				salida();
			});
		})