extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'precios-proyecto'
//- ---

//- Contenido
block content
	.precios
		.precios__container
			.precios__logo
				img(src=`${STATIC_URL}img/logo-color.svg`, alt="")
			.precios__box
				.precios__btn
					a.precios__btn__regresar(href="home.html") Regresar
						span.icon-icon-volver
				.precios__title
					.title__general.title__general--left
						.title__general__text.title__general__text--three
							h3 Precios del proyecto
				form.precios__form__container
					ul
						li
							.precio__form__input
								.precio__text__input 
									p Nº de Dormitorios:
								.precio__form__input--select
									select(name="", class="validate[required] precio__select")
												option(value="0") Todos
												option(value="1") 1
												option(value="2") 2
						li
							.precio__form__input
								.precio__text__input 
									p Tipo:
								.precio__form__input--select
									select(name="", class="validate[required] precio__select")
												option(value="0") Todos
												option(value="1") 88.53 m²
												option(value="2") 33.58 m²
				.precios__table
					table(width="970" border="0" cellpadding="0" cellspacing="0" class="table__list")
						tbody
							tr(class="table__list__title")
								td(width="160" height="49" align="center") Unidad
								td(width="160" align="center") Dormitorios
								td(width="160" align="center") Área Techada
								td(width="160" align="center") Área Ocupada
								td(width="160" align="center") Precio Dólares
								td(width="160" align="center") Planos
							tr
								td(align="left" colspan="11")
									table(width="100%" cellspacing="0" cellpadding="0")
										tbody
											tr
												td(height="49" align="center" class="table__title__unidad") Unidad A - Piso 1
											tr
												td(style="display: block;")
													table(width="100%" cellspacing="0" cellpadding="0")
														tbody
															-for (var i = 1; i <= 3; i++)
																tr
																	td(style="background-color: #E6E6E6;" height="1" colspan="11")
																tr(class="table__list--content")
																	td(width="160" height="36" align="right")
																		span A-01
																	td(width="1" class="line-table")
																	td(width="160" align="right") 
																		span 3
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span Vendido
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		a(href="#" class="link__plano") Ver más
																tr
																	td(style="background-color: #E6E6E6;" height="1" colspan="11")
																tr(class="table__list--content")
																	td(width="160" height="36" align="right")
																		span A-01
																	td(width="1" class="line-table")
																	td(width="160" align="right") 
																		span 3
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span Vendido
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		a(href="#" class="link__plano") Ver más
																tr
																	td(style="background-color: #E6E6E6;" height="1" colspan="11")
																tr(class="table__list--content table__list--content--white")
																	td(width="160" height="36" align="right")
																		span A-01
																	td(width="1" class="line-table")
																	td(width="160" align="right") 
																		span 3
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span $ 178,500.00
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		a(href="#" class="link__plano") Ver más
																tr
																	td(style="background-color: #E6E6E6;" height="1" colspan="11")
																tr(class="table__list--content")
																	td(width="160" height="36" align="right")
																		span A-01
																	td(width="1" class="line-table")
																	td(width="160" align="right") 
																		span 3
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span Vendido
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		a(href="#" class="link__plano") Ver más
																tr
																	td(style="background-color: #E6E6E6;" height="1" colspan="11")
																tr(class="table__list--content")
																	td(width="160" height="36" align="right")
																		span A-01
																	td(width="1" class="line-table")
																	td(width="160" align="right") 
																		span 3
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span 134.19 m²
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		span Vendido
																	td(width="1" class="line-table")
																	td(width="160" align="right")
																		a(href="#" class="link__plano") Ver más

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})