.areas__container
	position: relative
	padding-bottom: 26px
	&:before
		content: ''
		width: 24%
		height: 199px
		position: absolute
		left: 0
		bottom: 0
		background-image: url('../img/img-hojas-1.png')
		background-size: cover
		background-repeat: no-repeat
		background-position: right top
		z-index: -1
	&:after
		content: ''
		width: 20%
		height: 331px
		position: absolute
		top: 33px
		right: 0
		background-image: url('../img/img-hojas-2.png')
		background-size: cover
		background-repeat: no-repeat
		background-position: left top
		z-index: -1

.areas__box
	padding-bottom: 62px

.areas__box__container
	max-width: 970px
	margin: auto
	padding: 0px 20px
	margin-top: -33px
	position: relative

.areas__box__content
	background: $c-2
	box-shadow: -1px 10px 30px -4px rgba(0, 0, 0, 0.2)
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.areas__box__item
	width: 19%
	background: $blanco
	padding: 2.5% 3%
	position: relative
	&:before
		content: ''
		position: absolute
		right: 0
		top: 10px
		width: 1px
		height: 80%
		background: $c-4
	&:nth-child(3):before
		display: none

.areas__box__item__title
	font-family: $t-0
	font-size: 11px
	color: $c-5
	padding-bottom: 10px
	text-transform: uppercase
	padding-left: 15px
	p
		margin-bottom: 0

.areas__box__item__text
	font-family: $t-3
	font-size: 25px
	color: $c-0
	padding-left: 15px
	p
		margin-bottom: 0
		display: inline-block
	span
		font-family: $t-4
		font-size: 17px
		color: $c-0

.areas__box__btn
	width: 25%
	text-align: center

.areas__box__btn__content
	.btn-general
		padding: 16px 33px


.areas__content
	max-width: 850px
	margin: auto
	padding: 0px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start

.areas__title__box
	width: 34%

.areas__title
	padding-bottom: 35px

.areas__btn
	text-align: right
	a
		margin: 10px 0px

.areas__info
	width: 52%
	padding-left: 12%

.areas__info__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	line-height: 1.6
	padding-bottom: 22px
	p
		margin-bottom: 0

.areas__info__title
	padding-bottom: 35px
	h4
		font-family: $t-1
		font-size: 18px
		color: $c-0
		margin-bottom: 0

.areas__info__img__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.areas__info__img
	width: 23%
	padding-right: 10%
	padding-bottom: 30px

.areas__info__img__box
	width: 35px
	height: 35px
	img
		width: 100%
		height: 100%

.areas__info__img__text
	font-family: $t-0
	font-size: 14px
	color: $c-0
	padding-top: 18px
	p
		margin-bottom: 0

.areas__box__item.title__general--center
	width: 19%
	.areas__box__item__title
		padding-left: 0
	.areas__box__item__text
		padding-left: 0

@media screen and (max-width: 1366px)
	.areas__container
		&:after
			top: 0

@media screen and (max-width: 1025px)
	.areas__container
		&:before, &:after
			display: none

@media screen and (max-width: 850px)
	.areas__info__text
		font-size: 16px

	.areas__info__title
		h4
			font-size: 16px

	.areas__info__img
		width: 27%
		padding-right: 6%

	.areas__box__item__text
		font-size: 20px
		span
			font-size: 13px

@media screen and (max-width: 690px)
	.areas__info
		width: 80%
		margin: auto
		padding-left: 0

	.areas__title__box
		width: 90%
		margin: auto
		padding-bottom: 30px

	.areas__title
		.title__general
			text-align: center

	.areas__btn
		text-align: center
		a
			margin: 10px

	.areas__box__content
		background: $blanco

	.areas__box__item
		width: 27.333%

	.areas__box__btn
		width: 100%
		padding-top: 10px
		padding-bottom: 20px

	.areas__box__item.title__general--center
		width: 27.333%

@media screen and (max-width: 520px)
	.areas__title__box
		width: 100%

	.areas__info
		width: 100%

	.areas__box__item__text
		font-size: 18px
		span
			font-size: 13px

	.areas__btn
		a
			margin: 5px

@media screen and (max-width: 470px)
	.areas__box__item
		width: 100%
		text-align: center
		padding: 14px 0px
		&:before
			display: none

	.areas__info__img
		padding: 3%

	.areas__box__item.title__general--center
		width: 100%