.banner__container
	width: 100%
	height: 650px

.banner__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(29,29,27,0.6) 0%, rgba(29,29,27,0.5) 51%, rgba(29,29,27,0) 100%)

.banner__content
	position: relative
	display: flex
	align-items: center
	margin: auto
	z-index: 10
	height: 100%

.banner__image
	width: 192px
	margin: auto
@media screen and (max-width: 1024px)
	.banner__container
		height: 400px
@media screen and (max-width: 640px)
	.banner__container
		height: 560px

@media screen and (max-width: 480px)
	.banner__container
		height: 500px

@media screen and (max-width: 390px)
	.banner__container
		height: 460px