.enviado
	footer,
	.header-wrap,
	.menu-mobile-open,
	.menu-mobile-close,
	.header-menu-overlay,
	.menu-sidebar,
	.muenu_circle
		display: none

.enviado__container
	height: 100%
	display: flex
	align-items: center

.enviado__content
	max-width: 1000px
	margin: auto
	padding: 0px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.enviado__image
	width: 48%

.enviado__image__box
	width: 100%

.enviado__text
	width: 47%
	padding-left: 5%

.enviado__title
	padding-bottom: 52px

.enviado__btn
	text-align: center

@media screen and (max-width: 640px)
	.enviado__text
		width: 100%
		padding-left: 0

	.enviado__image
		width: 65%
		margin: auto
		padding-bottom: 36px

	.enviado__container
		height: auto
		padding-bottom: 40px
		padding-top: 40px

@media screen and (max-width: 390px)
	.enviado__image
		width: 100%