.video__container
	width: 100%

.video__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: center right
	background-repeat: no-repeat

.video__content
	max-width: 485px
	margin: auto
	padding: 120px 20px
	margin-right: 16.2%

.video__title
	padding-bottom: 48px

.video__btn
	text-align: center 

.video__icon
	font-size: 56px
	color: $c-0
	display: block
	padding-bottom: 11px

.video__text 
	font-family: $t-1
	font-size: 13px
	color: $c-0
	display: block
	text-transform: uppercase

.info
	margin-bottom: 62px

.info__container
	width: 100%

.info__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
	background-repeat: no-repeat

.info__content
	text-align: center
	padding-top: 60px
	padding-bottom: 22px

.info__title
	font-family: $t-0
	font-size: 14px
	color: $c-0
	padding-bottom: 14px
	p
		margin-bottom: 0

.info__logo
	width: 176px
	margin: auto
	padding-bottom: 20px

.info__phone
	font-family: $t-0
	font-size: 21px
	color: $c-0
	padding-bottom: 3px
	a
		color: $c-0

.info__email
	font-family: $t-0
	font-size: 21px
	color: $c-0
	padding-bottom: 32px
	strong
		font-family: $t-1
	a
		color: $c-0

.info__btn
	padding-bottom: 245px

.info__creditos
	font-family: $t-0
	font-size: 11px
	color: $c-0
	p
		margin-bottom: 0
	span
		font-size: 8px
		color: #f27490
		animation: latidos .5s infinite
		transform-origin: center
		display: inline-block
	a
		color: $c-0

@media screen and (max-width: 1024px)
	.info
		margin-bottom: 0

	.info__btn
		padding-bottom: 260px

@media screen and (max-width: 900px)
	.video__content
		margin-right: auto

	.video__content
		padding: 85px 20px

@media screen and (max-width: 640px)
	.video__content
		padding: 40px 15px

	.info__email,
	.info__phone
		font-size: 19px

	.info__btn
		padding-bottom: 140px

@media screen and (max-width: 480px)
	.video__title
	 	padding-bottom: 25px

	.areas__box
		padding-bottom: 50px !important

@media screen and (max-width: 320px)

	.info__email, .info__phone
		font-size: 18px

+keyframes(latidos)
	0%
		transform: none
	50%
		transform: scale(1.2)
	100%
		transform: none