.galeria__box
	background: $c-3

.galeria__box__container
	max-width: 1038px
	margin: auto
	padding: 33px 20px 40px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.galeria__title
	width: 35%

.galeria__title__box
	display: inline-block
	position: relative
	h3
		font-family: $t-0
		font-size: 30px
		color: $blanco
		margin-bottom: 0
		text-transform: uppercase
		padding-left: 30px
	&:before
		content: ''
		position: absolute
		width: 1px
		height: 35px
		top: -18px
		left: 18px
		background: $blanco
		transform: rotate(45deg)
	&:after
		content: ''
		position: absolute
		width: 1px
		height: 35px
		bottom: -15px
		right: -15px
		background: $blanco
		transform: rotate(45deg)

.galeria__box__btn
	width: 65%
	margin: auto
	text-align: right

.tab--display
	margin: 0px 8px
	&.active
		background-color: $blanco
		color: $c-0

.galeria__items__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible

.galeria__item
	display: inline-block
	vertical-align: top
	width: 100px
	height: 452px
	position: relative
	&:nth-child(1), &:nth-child(3)
		width: 25%
	&:nth-child(2), &:nth-child(4), &:nth-child(5)
		width: 50%		

.galeria__img
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	position: relative
	display: block

.galeria__hover
	width: 100%
	height: 100%
	display: flex
	overflow: hidden
	position: absolute
	top: 0
	left: 0
	filter: alpha(opacity=0)
	opacity: 0
	background: linear-gradient(to bottom, rgba(85,84,70,0.4) 0%, rgba(85,84,70,0.4) 100%)
	transition: all 0.3s ease-in-out

.galeria_icon_hover
	color: $c-0
	background-color: $blanco
	border-radius: 100%
	width: 0px
	height: 0px
	margin: auto
	position: relative
	transition: all .3s
	.icon__hover
		padding: 12px
		font-size: 0px

.galeria__img
	&:hover
		.galeria__hover
			transition: all 0.3s ease-in-out
			opacity: 1
		.galeria_icon_hover
			width: 50px
			height: 50px
			transition: all .3s
			.icon__hover
				font-size: 26px

@media screen and (max-width: 1100px)
	.galeria__item
		height: 350px
// @media screen and (max-width: 1024px)
// 	.galeria__hover
// 		opacity: 1
// 	.galeria_icon_hover
// 		width: 50px
// 		height: 50px
// 		transition: all .3s
// 		.icon__hover
// 			font-size: 26px
@media screen and (max-width: 980px)
	.galeria__item
		height: 320px

	.galeria__title
		width: 100%
		text-align: center
		padding-bottom: 35px

	.galeria__box__btn
		width: 100%
		text-align: center

@media screen and (max-width: 700px)
	.galeria__content
		overflow: hidden
		position: relative
	.galeria__item	
		height: 300px
	.galeria__items__box
		flex-direction: initial
		flex-wrap: initial
		justify-content: initial

	.galeria__title__box
		h3
			font-size: 26px

	.tab--display
		margin: 5px 8px

@media screen and (max-width: 400px)
	.tab--display
		width: 260px
		margin: 5px 8px

	.galeria__title__box
		h3
			padding-left: 0px
		&:before
			left: -18px
