.planos
	background: $c-4

.planos__container
	max-width: 1025px
	margin: auto
	padding: 58px 20px 66px 20px

.planos__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 58px

.planos__title
	width: 21%

.planos__slider__box
	width: 73%
	padding-left: 6%

.planos__slider__content
	display: flex
	flex-direction: row
	flex-wrap: row
	justify-content: space-between
	align-items: normal

.planos__slider
	width: 72%
	background: $blanco

.planos__info
	width: 30%
	background: $c-0

.planos__info__box
	padding-left: 40px
	padding-top: 40px
	ul
		padding-bottom: 25px
		&:last-child
			padding-bottom: 0
	li
		padding-bottom: 8px
		&:first-child
			color: $blanco
			font-family: $t-0
			font-size: 15px
		&:last-child
			color: $blanco
			font-family: $t-1
			font-size: 17px
	h4
		color: $c-1
		font-family: $t-3
		font-size: 46px
		margin-bottom: 0
		padding-bottom: 33px

.planos__form
	padding-bottom: 16px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	li
		width: 23%
		padding: 0 1%
		margin: 0

.planos__text__input
	font-family: $t-1
	font-size: 15px
	color: $c-0
	padding-bottom: 12px
	display: block
	position: relative
	p
		margin-bottom: 0
	span
		color: $c-1

.planos__input,
.planos__select
	width: 100%
	height: 50px
	background: transparent
	font-family: $t-0
	font-size: 14px
	color: $negro
	border: 1px solid $c-6
	border-radius: 3px
	padding: 0px 28px
	box-sizing: border-box

.planos__select
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	cursor: pointer
	position: relative
	&::-ms-expand
		display: none

.planos__form__input--select
	position: relative
	&:before
		content: '\e909'
		position: absolute
		right: 15px
		top: 12px
		font-family: $icomoon
		color: $c-3
		font-size: 25px

.planos__form__campos__text
	font-family: $t-0
	font-size: 13px
	color: $c-0
	padding-left: 10px
	padding-bottom: 23px
	p
		margin-bottom: 0

.planos__input--check--radio
	input[type="checkbox"], input[type="radio"]
		display: none

.planos__input--check--radio--label
	display: inline-block

.planos__input__inside__container
	display: flex
	align-items: flex-start 

.planos__input__figure
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0

.planos__check
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	padding: 0px 10px

.planos__input--check--radio
	input[type="radio"]:checked + .planos__input--check--radio--label .planos__input__figure:after
		opacity: 1
		visibility: visible

.planos__input--checkbox
	width: 72%
	.planos__input__figure
		width: 13px
		height: 13px
		&:before
			width: 100%
			height: 100%
			border-radius: 2px
			border: 2px solid $c-0
			box-sizing: border-box
		&:after
			content: "\e907"
			font-family: $icomoon
			top: 50%
			transform: translateY(-50%)
			right: 0
			text-align: center
			margin: auto
			opacity: 0
			color: $c-3
			visibility: hidden
			font-size: 14px
			transition: all .2s linear

.planos__input--check--radio
	input[type="checkbox"]:checked + .planos__input--check--radio--label .planos__input__figure:after
		opacity: 1
		visibility: visible

.planos__input__text__check
	font-family: $t-0
	font-size: 13px
	color: $c-3
	padding-left: 15px
	width: 85%
	line-height: 1.4
	span
		font-family: $t-1
		color: $c-3
		text-decoration: underline

.planos__btn
	text-align: right
	margin: auto
	margin-right: 0
	.btn-general
		padding: 18px 60px

@media screen and (max-width: 900px)
	.planos__title
		width: 100%
		padding-bottom: 30px
		.title__general
			text-align: center

	.planos__content
		padding-bottom: 30px

	.planos__slider__box
		width: 100%
		padding-left: 0

	.planos__input--checkbox
		width: 100%
		padding-bottom: 30px

	.planos__btn
		width: 100%
		text-align: center

	.planos__form
		li
			width: 48%
			padding: 2% 1%

@media screen and (max-width: 640px)
	.planos__slider__content
		flex-wrap: wrap
		align-items: center
		justify-content: flex-start

	.planos__slider
		width: 100%

	.planos__container
		padding: 35px 20px

	.planos__info
		width: 100%

	.planos__info__box
		text-align: center
		padding: 20px
		ul
			display: inline-block
			padding: 0px 20px
		h4
			font-size: 40px
			padding-bottom: 20px

@media screen and (max-width: 480px)
	.planos__form
		li
			width: 100%
			padding: 8px 0px

	.planos__form__input
		.formError
			left: 45% !important

	.planos__form__campos__text
		padding-left: 0

	.planos__check
		padding: 0

	.planos__input, .planos__select
		height: 45px

	.planos__text__input
		font-size: 14px

@media screen and (max-width: 390px)
	.planos__info__box
		padding: 10px
		h4
			font-size: 35px
		li 
			&:first-child
				font-size: 14px
			&:last-child
				font-size: 16px
		ul
			padding: 0px 15px

	.planos__form__input
		.formError
			left: 25% !important
			