.pop
	text-align: center

// modal
.overflow-hidden
	overflow: hidden

.btn-modal
	cursor: pointer

.modal__fondo
	background: linear-gradient(to bottom, rgba(76,76,65,0.8) 0%, rgba(76,76,65,0.8) 100%)
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	transition: all .3s ease
	&.active
		opacity: 1
		visibility: visible
		z-index: 1100
		transition: all .3s ease

.modal__container
	max-width: 700px
	width: 90%
	display: flex
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	opacity: 0
	visibility: hidden
	transition: all .3s ease
	&.active
		opacity: 1
		visibility: visible
		z-index: 1200
		transition: all .3s ease

.modal__content
	width: 100%
	margin: auto
	background-color: $blanco
	position: relative

.modal__box
	padding: 80px 68px
	position: relative

.modal__text
	padding-bottom: 13px
	text-align: left
	font-size: 12px
	color: $c-0
	font-family: $t-0
	p
		margin-bottom: 0

.modal__text--info
	text-align: left
	font-size: 12px
	color: $c-0
	font-family: $t-0
	p
		margin-bottom: 0
	h4
		font-family: $t-1
		font-size: 12px
		padding-bottom: 12px
		margin-bottom: 0
	ul
		padding-top: 10px
		padding-bottom: 17px
	li 
		padding-left: 8px
		position: relative
		&:before
			content: ''
			width: 3px
			height: 3px
			border-radius: 100%
			position: absolute
			left: 0
			top: 3px
			background: $c-0

.modal__title
	text-align: left
	padding-bottom: 28px
	h3
		font-size: 25px
		color: $c-0
		font-family: $t-0
		margin-bottom: 0

.modal__close
	position: absolute
	top: 20px
	right: 20px
	cursor: pointer
	z-index: 1
	transition: all 1s
	transform: rotate(-90deg)
	span
		color: $c-7
		font-size: 22px
	&:hover
		transition: all 1s
		transform: rotate(90deg)

@media screen and (max-width: 480px)
	.modal__container
		overflow: auto
		min-height: 300px

	.modal__box
		padding: 60px 20px

	.modal__text
		font-size: 14px

@media screen and (max-width: 390px)
	.modal__text
		font-size: 13px