.precios-proyecto
	footer,
	.header-wrap,
	.menu-mobile-open,
	.menu-mobile-close,
	.header-menu-overlay,
	.menu-sidebar,
	.muenu_circle
		display: none

.precios
	padding-top: 16px
	padding-bottom: 80px

.precios__container
	max-width: 1160px
	margin: auto
	padding: 0px 20px

.precios__box
	width: 91.7%
	margin: auto
	margin-right: 0

.precios__logo
	max-width: 182px
	margin: auto
	margin-left: 0
	padding-bottom: 57px

.precios__btn
	padding-bottom: 15px

.precios__btn__regresar
	position: relative
	padding-left: 27px
	font-size: 14px
	font-family: $t-3
	color: $c-7
	text-transform: uppercase
	span
		position: absolute
		left: 0
		top: 0
		font-size: 12px
		color: $c-7

.precios__title
	margin: auto
	margin-left: 0
	padding-bottom: 37px

.precios__form__container
	padding-bottom: 30px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	li
		width: 22%
		margin: 0
		padding-right: 22px

.precio__text__input
	font-family: $t-1
	font-size: 15px
	color: $c-0
	padding-bottom: 12px
	display: block
	position: relative
	p
		margin-bottom: 0

.precio__select
	width: 100%
	height: 50px
	background: transparent
	font-family: $t-0
	font-size: 14px
	color: $negro
	border: 1px solid $c-6
	border-radius: 3px
	padding: 0px 28px
	box-sizing: border-box

.precio__select
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	cursor: pointer
	position: relative
	&::-ms-expand
		display: none

.precio__form__input--select
	position: relative
	&:before
		content: '\e909'
		position: absolute
		right: 15px
		top: 12px
		font-family: $icomoon
		color: $c-3
		font-size: 25px


.table__list
	font-size: 15px
	line-height: 16px
	color: $c-0
	margin: 0

.table__list__title
	background-color: #ffce00
	td
		font-family: $t-3
		font-size: 14px
		color: $c-0
		text-transform: uppercase

.line-table
	background-color: $c-4

.table__title__unidad
	background-color: $c-0
	color: $blanco
	font-family: $t-1
	font-size: 14px
	text-transform: uppercase

.link__plano
	color: $negro
	text-decoration: underline

.table__list--content
	background-color: #f4f4f4
	td
		font-family: $t-4
		color: $negro
		font-size: 14px
		span, a
			padding-right: 24px

.table__list--content--white
	background-color: $blanco

.precios__table
	width: 93%
	height: 468px
	overflow-y: auto
	overflow: auto

@media screen and (max-width: 1025px)
	.precios__box
		width: 100%

	.precios__table
		width: 100%

@media screen and (max-width: 900px)
	.precios__form__container
		li
			width: 30%

	.precios__logo
		max-width: 170px
		padding-bottom: 45px

@media screen and (max-width: 690px)
	.precios__form__container
		li
			width: 45%
			padding-right: 5%

	.precios__table
		height: 400px

@media screen and (max-width: 480px)
	.precios__title
		margin-left: auto
		padding-bottom: 35px
		.title__general
			text-align: center

	.precios__btn
		margin-right: auto
		padding-bottom: 45px

	.precios__logo
		padding-bottom: 40px
		max-width: 140px

	.precio__select
		height: 45px

	.precios
		padding-top: 20px
		padding-bottom: 50px

@media screen and (max-width: 380px)
	.precios__form__container
		li
			width: 100%
			padding-right: 0
			padding-bottom: 20px

	.precios__btn__regresar
		font-size: 13px