extends ./_common/base.pug
//- btn
block content


	a.btn-general.btn-yellow( href='') PRECIOS DEL PROYECTO

	br
	br

	a.btn-general.btn-gray( href='') DESCARGAR BROCHURE

	br
	br

	.fondo--prueba(style="background: #4C4C41;")
		a.btn-general.btn-white( href='') ÁREAS COMUNES

	br
	br

	a.btn-general.btn-brown( href='') REGRESAR AL PROYECTO
