extends ./_common/base.pug

block content

	.title__general.title__general--right
		.title__general__text.title__general__text--one
			h3 Tu casa en la mejor <strong>playa </strong>de <strong>norte </strong>peruano

	br
	br

	.title__general.title__general--center
		.title__general__text.title__general__text--two
			h3 Vive la experiencia de <strong>vacacionar </strong>en tu <strong>casa de playa</strong>

	br
	br

	.title__general.title__general--left
		.title__general__text.title__general__text--three
			h3 Ubicación perfecta <strong>cerca de todo</strong>
	br
	br

	.title__general.title__general--left
		.title__general__text.title__general__text--three
			h3 Precios del proyecto

	br
	br

	.title__general.title__general--right
		.title__general__text.title__general__text--four
			h3 Cotiza el depa de <strong>tus sueños</strong>
