// BUTTONS
.btn-general
	font-size: 14px
	font-family: $t-3
	text-transform: uppercase
	border-radius: 3px
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.5s
	border: none
	cursor: pointer

.btn-yellow
	background: $c-1
	color: $c-0
	padding: 16px 25px
	@media screen and (min-width: 1024px)
		&:hover
			background: $c-2

.btn-gray
	background: $c-4
	color: $c-0
	padding: 16px 25px
	@media screen and (min-width: 1024px)
		&:hover
			background: #EBEBEB

.btn-white
	width: 160px
	background: transparent
	color: $blanco
	padding: 14px 0px
	border: 1px solid $blanco
	text-align: center
	@media screen and (min-width: 1024px)
		&:hover
			background: $blanco
			color: $c-0

.btn-brown
	background: $c-0
	color: $blanco
	padding: 17px 30px
	letter-spacing: 0.4px

a:focus
	outline: none