.title__general
	display: block
	color: $c-0

.title__general__text
	h3
		font-family: $t-0
		color: $c-0
		margin-bottom: 0
	strong
		font-family: $t-2

.title__general__text--one
	h3
		font-size: 40px
		line-height: 1.3

.title__general__text--two
	h3
		font-size: 50px
		line-height: 1.2
	strong
		&:first-child
			display: block


.title__general__text--three
	h3
		font-size: 35px
		line-height: 1.2
	strong
		display: block	

.title__general__text--four
	h3
		font-size: 38px
		line-height: 1.3
	strong
		display: block

.title__general--center
	text-align: center

.title__general--left
	text-align: left

.title__general--right
	text-align: right

@media screen and (max-width: 1024px)
	.title__general__text--one
		h3
			font-size: 36px

	.title__general__text--two
		h3
			font-size: 40px

	.title__general__text--three
		h3
			font-size: 32px

	.title__general__text--four
		h3
			font-size: 36px

@media screen and (max-width: 990px)
	.title__general__text--four
		h3
			font-size: 33px

@media screen and (max-width: 768px)
	.title__general__text--one
		h3
			font-size: 32px

	.title__general__text--two
		h3
			font-size: 34px

	.title__general__text--three
		h3
			font-size: 28px

	.title__general__text--four
		h3
			font-size: 30px

@media screen and (max-width: 640px)
	.title__general__text--one
		h3
			font-size: 28px

	.title__general__text--two
		h3
			font-size: 30px

	.title__general__text--three
		h3
			font-size: 26px

	.title__general__text--four
		h3
			font-size: 28px